<!DOCTYPE html>
<html lang="en">

<![if !IE]>
<link rel="icon" href="http://sec.tamu.edu/sec_favicon.ico" type="image/x-icon" />
<![endif]>
<!-- This is needed for IE -->
<link rel="shortcut icon" href="http://sec.tamu.edu/sec_favicon.ico" type="image/x-icon" />

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>SEC</title>

    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- =============================
                stylesheets
    ================================== -->


    <!-- Normalize And Bootstrap -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Google Font  -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,400,300' rel='stylesheet' type='text/css'>

    <!-- Font Icons -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />

    <!-- Plugin Default Stylesheets -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slider-pro.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/animate.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/color.css" id="colors" />

    <!-- style sheets taken from other project-->
    <link rel="stylesheet" href="css/jquery.countdown.css">
    <link rel="stylesheet" href="css/color/maroon.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
    
<!-- =============================
                    Header
    ================================== -->
    <header>
        <!-- Navigation Menu start-->
        <nav class="navbar blete-main-menu" role="navigation">
            <div class="container">

                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <a class="navbar-brand" href="#top"><img class="logo" id="logo" src="images/sec.png" alt="logo"></a>

                </div>
                
            </div>
            
            <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav blete-menu-wrapper">
                        <li class="active" style="visibility: hidden;">
                            <a href="#top">SEC</a>
                        </li>
                        <li>
                            <a href="#aboutUs">About</a>
                        </li>
                        <li>
                            <a href="#sponsors">Sponsors</a>
                        </li>
                        <li>
                            <a href="#events">Events</a>
                        </li>
                        <li>
                            <a href="#executiveCouncil">Executive Council</a>
                        </li>
						<li>
                            <a href="#contactUs">Contact Us</a>
                        </li>
                        <li>
                            <a href="#calendar">Calendar</a>
                        </li>
                        <li>
                            <a href="#login">Student/Company Login</a>
                        </li>		
                    </ul>
                </div>
                <!-- navbar-collapse end-->

            </div>
        </nav>
        <!-- Navigation Menu end-->
    </header>

    
    
</head>
  <!-- News Feed -->
        <div id="newsFeed" class="anchor"></div>
        <section id="news" class="blete-section-wrapper blete-features-section" data-stellar-background-ratio="0.5">
            <div class="blete-parallax-overlay"></div>
            <div class="container">
                <div class="row">
                    <!-- Section Header -->
                        <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header">
                            <h2>RECENT <span class="blete-highlight-text">NEWS</span></h2>
                            <div class="blete-section-divider"></div>
                        </div>
                    <!-- Section Header End -->

                    <div class="col-md-8 col-md-8 col-xs-12 col-md-offset-2">
                        <div class="panel-group">

                          

                          

                         

                          

                          

                          

                          

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#faq" href="#collapseOne" class="collapsed">
                                  <i class="fa fa-2x fa-plus-circle"></i> TREC Conference March 3-4!
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                    <b>Texas A&M Regional Engineering Conference (TREC)</b>
                                    <br />The purpose of this conference is to increase student interest and retention in engineering disciplines, foster communication between students at different schools, and provide an insight into common projects encountered in the industry.

                                    <br /><br /><b>When:</b> March 3-4, 2017
                                    <br /><b>Where:</b> Texas A&M University
                                    <br /><b>What:</b> This is a two-day event with a design competition and a great opportunity for networking with other students and Phillips 66. Everyone will receive a <b>free t-shirt</b>, <b>free food</b> for both days and a chance to win <b>stellar prizes</b>!
                                    
								</p>
                                <p><b>Event Sponsor</b></p>
                                <img src="\images\Phillip66.png" alt="Phillips 66" width="20%" />
                              </div>
                            </div>
                          </div>
                            
                          

                          

                          

                          

                                                    

                          
                          
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

<div id="aboutUs" class="anchor"></div>
    <section id="about" class="blete-section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header">
                    <h2>ABOUT <span class="blete-highlight-text">SEC</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Student Engineers' Council (SEC) is the representative body for all students in the College of Engineering at Texas A&M University. Formed by the Dean of Engineering in 1939, the SEC represents the concerns of engineering students and professional societies to the college administration and to the university as a whole.</p>
                </div>
                <!-- Section Header End -->

                <!-- What We Do -->
                <div class="blete-what-we-do">

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft">
                        <div class="blete-icon">
                            <i class="fa fa-institution"></i>
                        </div>
                        <h3>Development</h3>
                        <p>The Development division targets the professional advancement aspect of the SEC mission statement. The Development committees include Career Fair, ProTrip, Corporate Relations, Engineering Development, and Finance.</p>
                    </div>

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInUp" >
                        <div class="blete-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <h3>External</h3>
                        <p>The External division seeks to increase engineering awareness. The External committees include E-Week, Spark Conference, Philanthropy, and TREC.</p>
                    </div>

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" >
                        <div class="blete-icon">
                            <i class="fa fa-gears"></i>
                        </div>
                        <h3>Internal</h3>
                        <p>The Internal division targets the representative voice aspect of the mission statement. The Internal committees include Legislation, Society and Graduate Relations, Marketing, Membership, and Systems Administration.</p>
                    </div>                    

                </div>
                <!-- What We Do End -->

            </div>
        </div>
    </section>

<div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>OUR <span class="blete-highlight-text">SPONSORS</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Student Engineers' Council is proud to extend the opportunity for all companies to become sponsors of our organization. Sponsors truly drive the success of our services and events, and in return, we will go out of our way to ensure our sponsors' visibility to engineering students.</p>
                </div>

<html lang="en">
<head>
    <title>SEC Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
 
 
 <div id="sponsorsCarousel" class="carousel slide text-center" data-ride="carousel">
        
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <p>
                    <%= @sponsors[0].name %>
                </p>
            </div>
            
            <% @sponsors[1..@sponsors.size].each do |sponsor| %>
                <div class="item">
                    <p>
                        <%= sponsor.name %>
                    </p>
                </div>
            <% end %>
            
        </div>
        
        
        <a class="left carousel-control" href="#sponsorsCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#sponsorsCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
    
</div>



 <!--   <div>
<!-- Administrator Menu --------------->    
<!--   <%= flash[:notice] %>
    <h2>Admin Menu</h2>
    
    <table class="tableCenter">
        <tr>
            <td>
                <%= link_to("Manage Committees", committees_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Divisions", divisions_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Events", events_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Positions", positions_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Sponsors", sponsors_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Members", members_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Parameters", parameters_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Logout", access_logout_path) %>   
            </td>
        </tr>
    </table>

</div> -->
</hmtl>